@charset "UTF-8";

.login-status {
	margin-bottom: 20px;
	width: 350px;
	height: 180px;
	text-align: center;
	font-size: 30px;
	padding: 10px;
}

.login-status2 {
	padding-top: 25px;
	width: 100%;
	height: 100%;
	background-color: #F8B03A;
	color: white;
	vertical-align: middle;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
}